<div class="booyah-box col-10 offset-1">
<%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
  <%= f.input :caption %>
  <%= f.input :picture %>
  <%= f.submit "Add Photo", class: 'btn btn-primary' %>
<% end %>

</div>